<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강의평가 웹 사이트</title>
    <th:block th:replace="~{fragments/config :: configFragment}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<th:block th:object="${loginUser}">
    <div th:replace="~{fragments/header :: headerFragment}"></div>
    <section class="container mt-3 mb-3" style="max-width: 800px;">
        <h2 class="body-title mb-3 mt-3">글쓰기</h2>
        <div class="mb-3">
            <label for="userId" class="form-label">작성자</label>
            <input type="text" class="form-control" id="userId" th:value="*{userId}" disabled>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Another input placeholder">
        </div>
        <div class="mb-3">
            <label for="content">Comments</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="content" name="content" style="height: 100px"></textarea>
        </div>
        <button type="button" class="btn btn-success" th:onclick="loginCheck()">로그인</button>
        <button type="button" class="btn btn-primary">취소</button>
    </section>
    <div th:replace="~{fragments/footer :: footerFragment}"></div>
</th:block>
<script th:src="@{js/write.js}"></script>
</body>
</html>