<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강의평가 웹 사이트</title>
    <th:block th:replace="~{fragments/config :: configFragment}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<th:block th:object="${loginUser}">
<div th:replace="~{fragments/header :: headerFragment}"></div>
    <section class="container mt-3" style="max-width: 560px;">
        <div class="alert alert-warning mt-4" role="alert">
            이메일 주소 인증을 하셔야 서비스 이용 가능합니다. <br>
            인증 메일을 받지 못하셨나요?
        </div>
        <a th:href="@{/emailSendAction}" class="btn btn-primary w-100">인증 메일 다시 받기</a>
    </section>
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</th:block>
</body>
</html>