<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강의평가 웹 사이트</title>
    <th:block th:replace="~{fragments/config :: configFragment}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<th:block th:object="${loginUser}">
<div th:replace="~{fragments/header :: headerFragment}"></div>
    <section class="container mt-3 mb-3" style="max-width: 1200px;">
        <h2 class="body-title mb-3 mt-3">강의평가 목록</h2>
        <form method="get" th:action="@{/searchByType}" class="form-inline mt-3">
            <div style="display: flex;">
                <select name="searchType" class="form-select mx-1 mt-2" style="width: 100px;">
                    <option value="최신순" name="searchType">최신순</option>
                    <option value="추천순" name="searchType" th:seleted="${searchType == '추천순'}">추천순</option>
                </select>
                <input type="text" name="searchText" th:value="${searchText}" class="form-control mx-1 mt-2" placeholder="검색어를 입력하세요.">
                <button type="submit" class="btn btn-primary mx-1 mt-2" style="width: 90px;">검색</button>
                <a class="btn btn-danger mx-1 mt-2" data-bs-toggle="modal" data-bs-target="#reportModal" style="width: 90px;">신고</a>
            </div>
        </form>
        <div class="mt-3"><b th:text="${'총 강의평가 수 ' + evaluationListSize + '개'}"></b></div>
        <div>
            <div class="row">
            <th:block th:each="list : ${evaluationList}">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card bg-light mt-3 mb-3">
                        <div class="card-header bg-light">
                            <div class="row">
                                <b><div class="col-8 text-left w-100" id="my-col-8" th:text="${list.lectureSubject + ' (' + list.lectureInfo + ')'}"></div></b>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="cart-text" th:text="${'작성자 : ' + list.user.userId}"></p>
                            <h5 class="cart-title" th:text="${list.evaluationTitle}"></h5>
                            <p class="cart-text" th:text="${list.evaluationContent}"></p>
                            <div class="row" style="justify-content: flex-end;">
                                <div class="col-3 text-right" style="display: flex; justify-content: flex-end; width: 100%; align-items: center;">
                                    <th:block th:if="${loginUser != null}">
                                        <th:block th:if="${userNumber == list.user.userNumber}">
                                            <input type="button" class="btn btn-outline-dark" value="수정" style="margin-left:5px;"
                                                   data-bs-toggle="modal" data-bs-target="#updateModal"
                                                   th:attr="data-target=${'#updateModal'+ list.id},
                                                    data-id=${list.id},
                                                    data-lecturesubject=${list.lectureSubject},
                                                    data-lectureinfo=${list.lectureInfo},
                                                    data-title=${list.evaluationTitle},
                                                    data-content=${list.evaluationContent}">
                                            <form th:action="@{/deleteAction/__${id}__}" method="POST" onsubmit="return deleteCheck()">
                                                <input type="hidden" th:name="id" th:value="${list.id}">
                                                <input type="submit" class="btn btn-outline-dark" value="삭제" style="margin-left:5px;" />
                                            </form>
                                        </th:block>
                                    </th:block>
                                    <input type="button" class="btn btn-outline-success" value="보기" style="margin-left:5px;" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer" style="display: flex; justify-content: space-between; align-items: center;">
                            <div style="display: flex;">
                                <span th:text="${'추천 : ' + list.likeCount}" style="margin: auto; color: darkseagreen;"></span>
                                <form th:action="@{/likeyAction/__${evaluationID}__}" method="POST" onsubmit="return likeyCheck()">
                                    <input type="hidden" th:name="evaluationID" th:value="${list.id}">
                                    <input type="image" id="likey-Btn" width="40px" th:src="@{img/like-icon.png}" alt="Submit"
                                           th:disabled="${loginUser == null || userNumber == list.user.userNumber}">
                                </form>
                            </div>
                            <div>
                                <button class="btn btn-success" th:attr="onclick=|window.open('${list.lectureURL}', '_blank')|">강의보러가기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            </div>
        </div>
    </section>
    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation" class="mt-3 mb-3 m-auto">
        <ul class="pagination">
            <li class="page-item" th:classappend="${1 == evaluationList.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/searchByType(searchType=${param.searchType}, page=${evaluationList.pageable.pageNumber - 1}, searchText=${param.searchText})}"><</a>
            </li>
            <li class="page-item" th:classappend="${i == evaluationList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" th:href="@{/searchByType(searchType=${param.searchType}, page=${i - 1}, searchText=${param.searchText})}" th:text="${i}"></a>  <!-- index 넘기는 것에 주의 -->
            </li>
            <li class="page-item" th:classappend="${evaluationList.totalPages == evaluationList.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/searchByType(searchType=${param.searchType}, page=${evaluationList.pageable.pageNumber + 1}, searchText=${param.searchText})}">></a>
            </li>
        </ul>
    </nav>
    <div th:replace="fragments/modal/updateModal :: #updateModal"></div>    <!-- 강의평가 수정 모달 -->
    <div th:replace="fragments/modal/reportModal :: #reportModal"></div>      <!-- 강의평가 신고 모달 -->
    <div th:replace="~{fragments/footer :: footerFragment}"></div>
</th:block>
<script th:src="@{js/common.js}"></script>
</body>
</html>