<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강의 목록</title>
    <th:block th:replace="~{fragments/config :: configFragment}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<th:block th:utext="${alertScript}"></th:block>
<th:block th:object="${loginUser}">
<div th:replace="~{fragments/header :: headerFragment}"></div>
    <section class="container mt-3 mb-3" style="max-width: 1200px;">
        <h2 class="mb-3 mt-3" style="text-align: center;">강의 목록</h2>
        <form method="get" th:action="@{/searchByType}" class="form-inline mt-3">
            <div style="display: flex;">
                <select name="lectureDivide" class="form-select mx-1 mt-2" style="width: 100px;">
                    <option value="전체" name="lectureDivide">전체</option>
                    <option value="전공" name="lectureDivide" th:seleted="${lectureDivide == '강의명'}">강의명</option>
                    <option value="기타" name="lectureDivide" th:seleted="${lectureDivide == '강사명'}">강사명</option>
                </select>
                <input type="text" name="searchText" class="form-control mx-1 mt-2" placeholder="내용을 입력하세요.">
                <button type="submit" class="btn btn-primary mx-1 mt-2" style="width: 90px;">검색</button>
            </div>
        </form>
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-3 mb-3">
            <div th:each="lectures, iterStat : ${lectures}">
                <div class="col">
                    <div class="card" style="height: 300px">
                        <a th:href="${lectures.url}" target="_blank">
                            <img th:src="${lectures.image}" style="width: 100%;" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <input type="hidden" id="productId" name="productId" th:value="${lectures.productId}">
                            <a th:href="${lectures.url}" target="_blank" style="text-decoration: none; color: black;">
                                <h5 class="card-title" id="card-tt" th:text="${lectures.subject}" style="font-size: 16px;"></h5>
                            </a>
                            <h5 class="card-text" th:text="${lectures.professor} + ' ' + ${lectures.reviewCnt}" style="font-size: 14px; color: gray;"></h5>
                            <div style="display: flex; justify-content: space-between;">
                                <button class="btn btn-success w-8"
                                        data-bs-toggle="modal" data-bs-target="#registerModal"
                                        th:attr="data-target=${'#registerModal'+ lectures.productId},
                                        data-lectureId=${lectures.productId}, data-subject=${lectures.subject},
                                        data-professor=${lectures.professor}, data-url=${lectures.url}"
                                        style="font-size: 13px;" th:value="${lectures.productId}"
                                        th:disabled="${loginUser == null}">평가등록</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 평가 등록 -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5" id="modal">강의평가 등록</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="lectureId" id="lectureId" class="form-control">
                        <input type="hidden" name="url" id="url" class="form-control">
                        <div class="form-group">
                            <label>강의명</label>
                            <input type="text" name="lectureName" id="lectureName" class="form-control" maxlength="20" readonly>
                        </div>
                        <div class="form-group">
                            <label>강사명</label>
                            <input type="text" name="professorName" id="professorName" class="form-control" maxlength="20" readonly>
                        </div>
                        <div class="form-group">
                            <label>제목</label>
                            <input type="text" name="evaluationTitle" id="evaluationTitle" class="form-control" maxlength="30">
                        </div>
                        <div class="form-group mb-3">
                            <label>내용</label>
                            <textarea name="evaluationContent" id="evaluationContent" class="form-control" maxlength="2048" style="height: 180px;"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="registerCheck()">등록하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 페이지네이션 -->
        <nav aria-label="Page navigation" class="mt-5 mb-3 m-auto">
            <ul class="pagination justify-content-center">
                <!-- 이전 페이지로 이동 -->
                <li th:class="${previous < 0} ? 'page-item disabled' : 'page-item'">
                    <a th:if="${previous != 0}" th:href="@{/lectures(page=${previous})}" class="page-link"><</a>
                    <a th:unless="${previous != 0}" class="page-link"><</a>
                </li>

                <!-- 페이지 번호 반복 표시 -->
                <th:block th:each="pageNumber : ${#numbers.sequence(startPage + 1, endPage + 1)}">
                    <li th:class="${currentPage == pageNumber - 1} ? 'page-item active' : 'page-item'">
                        <a th:href="@{/lectures(page=${pageNumber - 1})}" class="page-link" th:text="${pageNumber}" style="text-decoration: underline;"></a>
                    </li>
                </th:block>

                <!-- 다음 페이지로 이동 -->
                <li th:class="${next < 0} ? 'page-item disabled' : 'page-item'">
                    <a th:if="${next > 0}" th:href="@{/lectures(page=${next})}" class="page-link">></a>
                    <a th:unless="${next > 0}" class="page-link">></a>
                </li>
            </ul>
        </nav>
    </section>
<div th:replace="~{fragments/footer :: footerFragment}"></div>
</th:block>
<script th:src="@{js/common.js}"></script>
<script th:src="@{js/lecture.js}"></script>
</body>
</html>